/* regole generali */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
    text-decoration: none;
    color: white;
}

header, footer {
    color: white;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.flex {
    display: flex;
    justify-content: space-between;
}

/* regole status hover */

.heart:hover {
    color: red;
}

a:hover {
    text-decoration: underline;
}

i:hover, .logo:hover, article:hover {
    cursor: pointer;
}

article:hover .photo {
    display: block;
}

/* photo style */
.photo {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

/* header */
header {
    height: 50px;
    width: 100%;
    background-color: #ff6900;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
}

header .flex {
    align-items: center;
    height: 50px;
}

.logo img{
    height: 30px;
}

/* row style */
main .container:first-child {
    margin-top: 100px;
}

.row.flex.second {
    margin-bottom: 50px;
}

.row.flex {
    gap: 10px;
}

/* article style */
article {
    width: calc(100% / 3);
    position: relative;
}

article img {
    width: 100%;
}


/* heart style */
.heart {
    font-size: 25px;
    color: black;
    padding: 10px;
    background-color: white;
    position: absolute;
    top: 10px;
    right: 0;
    height: 34px;
    line-height: 17px;
}

/* label style */
.label {
    padding: 5px;
    color: white;
    font-size: 14px;
}

.label.sale {
    background-color: red;
    position: absolute;
    left: 0;
    bottom: 20px;
}

.label.green {
    background-color: green;
    position: absolute;
    left: 50px;
    bottom: 20px;   
}

.label.green.left {
    left: 0;
}

/* text style */
.text {
    width: calc(100%/3);
}

.black, .red {
    font-size: 13px;
}

.black.price {
    text-decoration: line-through;
}

.red {
    color: red;
}


/* footer style */
footer .flex {
    align-items: center;
    height: 80px;
}

footer {
    background-color: #1a1a1a;
    height: 80px;
    line-height: 140%;
}

.informazioni a {
    font-size: 12px;
    margin-right: 5px;
}

.collegamenti {
    text-align: center;
}

.collegamenti strong {
    font-size: 14px;
}

.collegamenti .fa-brands {
    margin: 3px;
}